{% extends "polls/extends/main.html" %}
{% block content %}
	{% if latest_question_list %}
			{% for question in latest_question_list %}
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{question.question_text}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Question</h6>
						<p class="card-text">{{question.question_text}}</p>
						<a href="{% url 'polls:detail' question.id %}">more detail</a>
					</div>
				</div>
			{% endfor %}
	{% else %}
		<h4><span class="badge badge-pill badge-info">No polls are available.</span></h4>
		<p></p>
	{% endif %}
{% endblock %}